* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    background: url(CAP-Games.png);
    background-repeat: no-repeat;
    background-position-x: center center;
    background-size: 100%;
    background-attachment: fixed;
    background-size: cover;
}
