* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    background: url(Background.png);
    background-repeat: round;
    background-position-x: center center;
    background-size: 100%;
    background-attachment: fixed;
    background-size: cover;
}
.text {
    margin: 0 5%;
    margin-top: 50%;
}

.text .Greetings {
    display: inline;
    justify-content: right;
    padding-top: 3%;
    margin-left: auto;
    margin-right: auto;
    font-family: Ebrima;
    font-style: normal;
    font-weight: normal;
    font-size: 150%;
    text-align: right;
    color: #0762ae;
}

@media screen and (max-width:600px){
    .text .informasi {
        display: flex;
        justify-content: center;
        padding-top: 8%;
        margin-left: auto;
        margin-right: auto;
        font-family: Ebrima;
        font-style: normal;
        font-weight: normal;
        font-size: 100%;
        text-align: center;
        color: #c64b4b
    }
}
@media screen and (min-width:601px){
    .text .informasi {
        display: flex;
        justify-content: center;
        padding-top: 8%;
        margin-left: auto;
        margin-right: auto;
        font-family: Ebrima;
        font-style: normal;
        font-weight: normal;
        font-size: 150%;
        text-align: center;
        color: #c64b4b;
    }
}
.Wahana {
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 10%;
    margin-bottom: 5%;
    display: inline-block;
}

.Wahana .FotoWahana{
    width: 50%;
    height: auto;
    float: center;
}
.Wahana .JawabanWahana{
    width: 50%;
    height: auto;
    float: center;
}

@media screen and (max-width: 600px){
    .Wahana .FotoWahana img{
        display: inline-block;
        width: 90%;
        height: auto;
    }   
}
@media screen and (min-width: 601px){
    .Wahana .FotoWahana img{
        display: inline-block;
        width: 75%;
        height: auto;
    }
}


.JawabanWahana{
    display: flex;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    color: #FFF3F3;
    font-size: 100%;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.JawabanWahana .Jawaban{
    display: inline;
    color: #FFF3F3; 
    padding-left: 5%;
    text-align: center;
}

.JawabanWahana .Jawaban label{

    margin: 0 0;
}

.JawabanWahana .Jawaban input{
    display: inline-block;
    margin: 0 0;
}


.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7.5%;
}


.button .Submit:hover{
    background-color: #005faf;
    color: #5cb4e5;
}

@media screen and (max-width: 600px){
    .button .Submit {
        background-color: #5cb4e5;
        width: 70px;
        border-style: none;
        height: 40px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 100%;
        text-align: center;
    }   
}

@media screen and (min-width: 601px){
    .button .Submit {
        background-color: #5cb4e5;
        width: 140px;
        border-style: none;
        height: 80px;    
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 125%;  
        text-align: center;
        
    }   
}