* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    background: url(Background.png);
    background-repeat: round;
    background-position-x: center center;
    background-size: 100%;
    background-attachment: fixed;
    background-size: cover;
}

.text {
    margin: 0 5%;
    margin-top: 50%;
}

.text .Greetings {
    display: inline;
    justify-content: right;
    padding-top: 3%;
    margin-left: auto;
    margin-right: auto;
    font-family: Ebrima;
    font-style: normal;
    font-weight: normal;
    font-size: 150%;
    text-align: right;
    color: #0762ae;
}
@media screen and (max-width:600px){
    .text .InformasiKode {
        display: flex;
        justify-content: center;
        padding-top: 10%;
        margin-left: auto;
        margin-right: auto;
        font-family: Ebrima;
        font-style: normal;
        font-weight: normal;
        font-size: 100%;
        text-align: center;
        color: #0762ae;
    }
}
@media screen and (min-width:601px){
    .text .InformasiKode {
        display: flex;
        justify-content: center;
        padding-top: 10%;
        margin-left: auto;
        margin-right: auto;
        font-family: Ebrima;
        font-style: normal;
        font-weight: normal;
        font-size: 150%;
        text-align: center;
        color: #0762ae;
    }
}
/* .text .Cooldown {
    display: flex;
    justify-content: center;
    padding-top: 3%;
    margin-left: auto;
    margin-right: auto;
    font-family: Comic Sans MS;
    font-style: normal;
    font-weight: normal;
    font-size: 100%;
    text-align: center;
    color: #E72727;
} */

.InputData ::selection{
    background: darkslategray;
}

.InputData ::-moz-selection{
    background: darkslategray;
}

.InputData .InputKodeWahana input[type=text] {
    display: flex;
    justify-content: center;
    align-items: center;
    background: -webkit-linear-gradient(270deg, rgba(7,98,174,1) 0%, rgba(7,15,84,1) 51%);
    padding: 2.5% 0;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 112.5%;

    border-style: none;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8.5%;
}


.button .Submit:hover{
    background-color: #005faf;
    color: #5cb4e5;
}

@media screen and (max-width: 600px){
    .button .Submit {
        background: -webkit-linear-gradient(270deg, rgba(7,98,174,1) 0%, rgba(7,15,84,1) 51%);
        width: 140px;
        border-style: none;
        height: 40px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 100%;
        text-align: center;
    }   
}

@media screen and (min-width: 601px){
    .button .Submit {
        background: -webkit-linear-gradient(270deg, rgba(7,98,174,1) 0%, rgba(7,15,84,1) 51%);
        width: 280px;
        border-style: none;
        height: 80px;    
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 125%;  
        text-align: center;
        
    }   
}