* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    background-image: url(Background.png);
    background-repeat: round;
    background-position-x: center center;
    background-size: 100%;
    background-attachment: fixed;
    background-size: cover;

}

@media screen and (max-width:600px){
    .Informasi {
        display: flex;
        justify-content: center;
        margin-top: 70%;
        margin-left: auto;
        margin-right: auto;
        font-family: Ebrima;
        font-style: normal;
        font-weight: normal;
        font-size: 100%;
        text-align: center;
        color: #0762ae;
    }
    .InformasiTambahan {
        display: flex;
        justify-content: center;
        padding-top: 3%;
        margin-left: auto;
        margin-right: auto;
        font-family: Ebrima;
        font-style: normal;
        font-weight: normal;
        font-size: 75%;
        text-align: center;
        color: #0762ae;
    }

}
@media screen and (min-width:601px){
    .Informasi {
        display: flex;
        justify-content: center;
        margin-top: 50%;
        margin-left: auto;
        margin-right: auto;
        font-family: Ebrima;
        font-style: normal;
        font-weight: normal;
        font-size: 150%;
        text-align: center;
        color: #0762ae;
    }
    .InformasiTambahan {
        display: flex;
        justify-content: center;
        padding-top: 3%;
        margin-left: auto;
        margin-right: auto;
        font-family: Ebrima;
        font-style: normal;
        font-weight: normal;
        font-size: 100%;
        text-align: center;
        color: #0762ae;
    }

}



.InputData ::selection{
    background: darkslategray;
}

.InputData ::-moz-selection{
    background: darkslategray;
}

.InputData .InputUsername input[type=text]{ 
    display: flex;
    justify-content: center;
    align-items: center;
    background: -webkit-linear-gradient(270deg, rgba(7,98,174,1) 0%, rgba(7,15,84,1) 51%);
    color: #FFF3F3;
    padding: 2.5% 0;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;

    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 112.5%;

    border-style: none;
    }




.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8.5%;
}



.button .SignIn:hover{
    background-color: #005faf;
    color: #5cb4e5;
}

@media screen and (max-width: 600px){
    .button .SignIn {
        background: -webkit-linear-gradient(270deg, rgba(7,98,174,1) 0%, rgba(7,15,84,1) 51%);
        border-radius: 10px;
        width: 140px;
        border-style: none;
        height: 40px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 100%;
        color: #FFF3F3;  
    }   
}

@media screen and (min-width: 601px){
    .button .SignIn {
        background: -webkit-linear-gradient(270deg, rgba(7,98,174,1) 0%, rgba(7,15,84,1) 51%);
        border-radius: 10px;
        width: 280px;
        border-style: none;
        height: 80px;    
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 125%;  
        color: #FFF3F3;
    }   
}



